<div class="dashboard-layout">

  <section class="map-section">
    <app-map-component></app-map-component>
  </section>

  <section class="search-section">
    <app-address-bar (addressSelected)="onAddressSelected($event)"></app-address-bar>
  </section>

  <section #section class="content-section">
    
    @if(section.classList.contains('expand-vertical')){
      <button class="toggle-btn" (click)="section.classList.toggle('expand-horizontal')">
        @if (section.classList.contains('expand-horizontal')) {
        <span class="icon">⬅️</span> Shrink section
        } @else {
          <span class="icon">➡️</span> Expand section
        }
      </button>
    }
    
    @if (isLoading()) {
      <div class="loading-state">
        <div class="spinner"></div>
        <p>Searching for resutarants in your area...</p>
      </div>
    } @else if (deliveryService.userAddress()) {
      <div>
        <app-restaurant-list-component
        [restaurants]="restaurants()"
        (expandMenu)="expandContentSection(['expand-vertical', 'expand-horizontal'])">
        </app-restaurant-list-component>
      </div>
    } @else {
      <div class="welcome-state">
        <div class="welcome-icon">🍕</div>
        <p>Enter your delivery address above to discover the best restaurants in your area!</p>
      </div>
    }
  </section>

</div>