<div class="dashboard-layout">

  <section class="map-section">
    <app-map-component></app-map-component>
  </section>

  <section class="search-section">
    <app-address-bar (addressSelected)="onAddressSelected($event)"></app-address-bar>
  </section>

  <section class="content-section" [class.expand-vertical]="expandMenuVertical()" [class.expand-horizontal]="expandMenuHorizontal()">
  
    @if(expandMenuVertical()){
      <button class="toggle-btn" (click)="this.restaurantStateService.updateExpandMenuHorizontal(!expandMenuHorizontal())">
        @if (expandMenuHorizontal()) {
          <span class="icon">⬅️</span> Shrink section
        } @else {
          <span class="icon">➡️</span> Expand section
        }
      </button>
    }
    
    @if (isLoading()) {
      <div class="loading-state">
        <div class="spinner"></div>
        <p>Searching for restaurants in your area...</p>
      </div>
    } @else {
      <router-outlet></router-outlet>
    }

  </section>
</div>